<script>
  $(document).scroll(function() {

  var y = $(this).scrollTop();
  if (y > 800) {
    $('.footer').fadeIn();
  } else {
    $('.footer').fadeOut();
  }
});
</script>


<section class="footer">
  <div class="container">
        <div class="row">
        
          <div class="col-sm-12">
            <ul class="social-links">
              <li><a href="https://github.com/fresh5447"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=AAIAAA0FSfEBhfYSwGXQWlh05YDStlz6S91vPVs&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://twitter.com/Just_Be_Dougin"><i class="fa fa-twitter"></i></a></li>
              <li><a href=""mailto:doug@kosmojo.com?Subject=Nice%20website""><i class="fa fa-envelope-o"></i></a></li>
            </ul>
          </div>
        </div>
  </div>
</section>