<script>
  $(document).scroll(function() {

  var y = $(this).scrollTop();
  if (y > 800) {
    $('.footer').fadeIn();
  } else {
    $('.footer').fadeOut();
  }
});
</script>


<section class="footer">
  <div class="container">
        <div class="row">
        
          <div class="col-sm-12">
            <ul class="social-links">
              <li><i class="fa fa-github"></i></li>
              <li><i class="fa fa-linkedin"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-envelope-o"></i></li>
            </ul>
          </div>
        </div>
  </div>
</section>