    <nav class="navbar navbar-inverse navbar-fixed-top my-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Douglas Walter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="/">home</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/post">post</a></li>
            <% if (!user) { %>
                  <li class="pull-right"><button class="btn btn-primary my-btn"><a href="/login">login</a></button></li>
                <%} else if (user.local.role === "admin") { %>
                  <li><a href="/admin">admin</a></li>
                <% } else { %>
               <li class="pull-right"><button class="btn btn-primary my-btn"><a href="/logout">logout</a></button></li>
            <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>




