
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Douglas Walter</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
  </head>

  <body>
    <%- include ./partials/navbar.ejs %>


<!-- ABOUT ME -->
    <section>
      <div class="container">
        <div class="row">
          <h3>Douglas Walter</h3>
                <div class="col-md-4">
                  <a href="img/sample4.jpg" data-lightbox="gallery" data-title="Picture 4"><img src="img/sample4.jpg" class="img-thumbnail" alt=""></a>
                </div>
                <div class="col-md-4">
                <div class="title">About Me</div>
                  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                </div>
                <div class="col-md-4">
                <div class="title">Social Links</div>
                  <ul>
                    <li>Github</li>
                    <li>LinkedIn</li>
                    <li>Twitter</li>
                    <li>Email</li>
                    <li>Quora</li>
                  </ul>
                </div>
        </div>
      </div>
    </section>
    
<!-- MY SKILLS -->    
    <section>
      <div class="container">
        <div class="row">
          <h3>Skills</h3>
          <div class="col-md-6">
            <ul>
              <li>Thing</li>
              <li>Thing</li>
              <li>Thing</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Stuff</li>
              <li>Stuff</li>
              <li>Stuff</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

<!-- TWITTER CARDS -->
    <section>
      <div class="container">
        <div class="row">
          <h3>Twitter Cards</h3>
          <div class="panel panel-default col-md-4">
            <h4 class="panel-header">Tweet Message</h4>
            <div class="panel-body">
               <div>
                 Title
                 Image
               </div>
            </div>
          </div>
          <div class="panel panel-default col-md-4">
            <h4 class="panel-header">Tweet Message</h4>
            <div class="panel-body">
               <div>
                 Title
                 Image
               </div>
            </div>
          </div>
          <div class="panel panel-default col-md-4">
            <h4 class="panel-header">Tweet Message</h4>
            <div class="panel-body">
               <div>
                 Title
                 Image
               </div>
            </div>
          </div>

        </div>
      </div>
    </section>

<!-- PORTFOLIO -->
    <section>
      <div class="container">
          <div class="row">
          <h3>Portfolio</h3>
                <div class="col-md-4">
                  <a href="img/sample4.jpg" data-lightbox="gallery" data-title="Picture 4"><img src="img/sample4.jpg" class="img-thumbnail" alt=""></a>
                  <div class="title">Portfolio Item One</div>
                </div>
                <div class="col-md-4">
                  <a href="img/sample5.jpg" data-lightbox="gallery" data-title="Picture 5"><img src="img/sample5.jpg" class="img-thumbnail" alt=""></a>
                  <div class="title">Portfolio Item Two</div>
                </div>
                <div class="col-md-4">
                  <a href="img/sample6.jpg" data-lightbox="gallery" data-title="Picture Six"><img src="img/sample6.jpg" class="img-thumbnail" alt=""></a>
                  <div class="title">Portfolio Item Three</div>
                </div>
          </div>
      </div>
    </section>

<!-- GITHUB/WAKATIME ACTIVITY  -->
<section>
  <div class="container">
    <div class="row">
      <h3>Code Activity Zone</h3>
      <div class="col-md-6">
        <h4>Github</h4>
        <p>This will be a list of recent events.</p>
      </div>
      <div class="col-md-6">
        <h4>WakaTime</h4>
        <p>This might be a pretty graph.</p>
      </div>
    </div>
  </div>
</section>  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/lightbox.js"></script>
   <%- include ./partials/footer.ejs %>
  </body>
</html>
