<%- include ./partials/header.ejs %>
  <body>
    <%- include ./partials/navbar.ejs %>


<!-- ABOUT ME -->
    <section class="custom-section">
      <div class="container">
        <div class="row">
                <div class="col-md-6">
                  <img src="img/me.png" class="img-thumbnail my-img" alt="">
                </div>
                <div class="col-md-6">
                <div class="title">About Me</div>
                  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>
        </div>

      </div>
    </section>
    

<div class="section-header">
  <h3>tech stack</h3>
</div>
<!-- MY SKILLS -->    
    <section class="custom-section-logos">
      <div class="container">
        <div class="row">

          <div class="col-md-6 row">
            <ul>
              <li><img src="./img/stack-logos/angular.png" class="logos thumbnail" alt=""></li>
              <li><img src="./img/stack-logos/meteor.png" class="logos thumbnail" alt=""></li>
              <li><img src="./img/stack-logos/react.png" class="logos thumbnail" alt=""></li>
            </ul>
          </div row>
          <div class="col-md-6 row">
            <ul>
              <li><img src="./img/stack-logos/node.png" class="logos thumbnail" alt=""></li>
              <li><img src="./img/stack-logos/express.png" class="logos thumbnail" alt=""></li>
              <li><img src="./img/stack-logos/rails.png" class="logos thumbnail" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6 row">
            <ul>
              <li><img src="./img/stack-logos/mongo.jpg" class="logos thumbnail" alt=""></li>
            </ul>
          </div row>
          <div class="col-md-6 row">
            <ul>
              <li><img src="./img/stack-logos/flux.png" class="logos thumbnail" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

<div class="section-header">
  <h3>tweets</h3>
</div>

<!-- TWITTER CARDS -->
<section class="custom-section">
  <div class="container">
    <div class="row">
      <span="Twitter"></span>
    </div>
  </div>
</section>


<div class="section-header">
  <h3>portfolio</h3>
</div>

<!-- PORTFOLIO -->
    <section class="custom-section">
      <div class="container">
          <div class="row">
                <div class="col-md-4">
                  <img src="http://montanacodeschool.com/wp-content/uploads/2015/06/MCS_dummylogo1-e1435177373293.png" class="img-thumbnail box" alt="">
                  <div class="title">Montana Code School</div>
                </div>
                <div class="col-md-4">
                  <img src="img/textmate.png" class="img-thumbnail box" alt="">
                  <div class="title">TextMate</div>
                </div>
                <div class="col-md-4">
                  <img src="img/kosmojo.png" class="img-thumbnail box" alt="">
                  <div class="title">Kosmojo</div>
                </div>
          </div>
      </div>
    </section>



<div class="section-header">
  <h3>code</h3>
</div>
<!-- GITHUB/WAKATIME ACTIVITY  -->
    <section class="custom-section">
      <div class="container">
        <div class="row">
            <span id="Github"></span>
        </div>
      </div>
    </section>


<div class="section-header">
  <h3>stats</h3>
</div>
<section class="custom-section">
  <div class="container">
    <div class="row">
    <h1>Chart Should Show Here</h1>
      <div id="Chart"></div>
      <canvas id="firstChart" width="400" height="400"></canvas>
      <canvas id="secondChart" width="400" height="400"></canvas>
      <canvas id="thirdChart" width="400" height="400"></canvas>
    </div>
  </div>
</section>


   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="./static/index.js"></script>
   <%- include ./partials/footer.ejs %>
  </body>
</html>
