<%- include ./partials/header.ejs %>
  <body>
    <%- include ./partials/navbar.ejs %>


<!-- ABOUT ME -->
    <section>
      <div class="container">
        <div class="row">
                <div class="col-md-6">
                  <img src="img/me.png" class="img-thumbnail" alt="">
                </div>
                <div class="col-md-6">
                <div class="title">About Me</div>
                  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
        </div>
        <div class="row">
        </div>
          <div class="col-sm-12">
            <ul class="social-links">
              <li><i class="fa fa-github"></i></li>
              <li><i class="fa fa-linkedin"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-envelope-o"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    

<div class="section-header">
  <h3>skills</h3>
</div>
<!-- MY SKILLS -->    
    <section>
      <div class="container">
        <div class="row">

          <div class="col-md-6">
            <ul>
              <li>Thing</li>
              <li>Thing</li>
              <li>Thing</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Stuff</li>
              <li>Stuff</li>
              <li>Stuff</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

<div class="section-header">
  <h3>tweets</h3>
</div>

<!-- TWITTER CARDS -->
<section>
  <div class="container">
    <div class="row">
      <span="Twitter"></span>
    </div>
  </div>
</section>


<div class="section-header">
  <h3>portfolio</h3>
</div>

<!-- PORTFOLIO -->
    <section>
      <div class="container">
          <div class="row">
          <h3>Portfolio</h3>
                <div class="col-md-4">
                  <img src="http://montanacodeschool.com/wp-content/uploads/2015/06/MCS_dummylogo1-e1435177373293.png" class="img-thumbnail box" alt="">
                  <div class="title">Montana Code School</div>
                </div>
                <div class="col-md-4">
                  <img src="img/textmate.png" class="img-thumbnail box" alt="">
                  <div class="title">TextMate</div>
                </div>
                <div class="col-md-4">
                  <img src="img/kosmojo.png" class="img-thumbnail box" alt="">
                  <div class="title">Kosmojo</div>
                </div>
          </div>
      </div>
    </section>



<div class="section-header">
  <h3>code hub</h3>
</div>
<!-- GITHUB/WAKATIME ACTIVITY  -->
    <section>
      <div class="container">
        <div class="row">
            <span id="Github"></span>
        </div>
      </div>
    </section>  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="./static/index.js"></script>
   <%- include ./partials/footer.ejs %>
  </body>
</html>
