body {
  padding-top: 50px;
}

section{
	margin: 20px 0 20px 0;
	padding: 30px 0 30px 0;
}

.blog-body{
	text-align: left;
}

.title {
	text-align: center;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: bold;
}

.box-icon span {
	color: black;
    display: table-cell;
    text-align: center;
}

.social-links {
	list-style: none;
	font-size: 78px;
	text-align: center;
}

.social-links li{
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
}

.box {
	border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    margin-right: 15px;
    color: black;
    background-color: #fff;
}

.github-box {
	border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: left;
    display: block;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    color: black;
    background-color: #fff;
}
.comment-box {
	border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: left;
    display: block;
    margin-top: 10px;
    margin-right: 15px;
    color: black;
    background-color: #fff;
}

.section-header{
	background: #222;
	border-color: #080808;
}

.section-header h3 {
	color: white;
	font-size: 36px;
	margin: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}