body {
  padding-top: 50px;
}

section{
	margin: 20px 0 20px 0;
	padding: 30px 0 30px 0;
    background: #ecf0f1;
}

.blog-body{
	text-align: left;
}

.title {
	text-align: center;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: bold;
}

.box-icon span {
	color: black;
    display: table-cell;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
    margin: 0;
    padding: 0;
}

.social-links {
	list-style: none;
	font-size: 300%;
	text-align: center;
}

.social-links .fa {
    margin-right: 10px;
    margin-left: 10px;
}

.social-links li{
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
}

.box {
	border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    margin-left: 15px;
    color: black;
    background-color: #fff;
}

.git-box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    display: block;
    margin: 10px;
    color: black;
    background-color: #fff;
}

.git-box i{
    color: red;
    margin: 5px;
}

.github-box {
	border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: left;
    display: block;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    color: black;
    background-color: #fff;
}

.my-img{
    height: 230px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.comment-box {
	border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: left;
    display: block;
    margin-top: 10px;
    margin-right: 15px;
    color: black;
    background-color: #fff;
}

.custom-section{
    margin: 0 !important;
}

.custom-section-logos {
    margin: 0 !important;
    background: white;
}

.custom-section-logos li {
    list-style: none;
}

.logos{
    list-style: none;
    border: none;
    height: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.chart-row {
    text-align: center;
}

.my-chart {
    margin: 25px;
    padding-bottom: 50px; 
}


.section-header{


    padding: 0;
    margin: 10px;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    text-shadow: -1px -1px white;
    font-weight: normal;

}

.my-nav{
    background: white;
    box-shadow: 0 0 0 4px #34495e, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    background: white;
}

section{
     box-shadow: 0 0 0 4px #34495e, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
     background: white;
}

.section-header h3 {
	color: #2c3e50;
	font-size: 36px;
	margin: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}